.detail {
  display: flex;
  flex-direction: row;
}
.servings {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  input {
    display: flex;
    align-items: center;
    text-align: center;
  }
  input:disabled {
    color: #6100ff;
  }
}

.title-card {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

mat-card {
  width: 70vw;
  margin: 5vh auto;

}

mat-card-subtitle {
  width: 100%;
  position: relative;
  left: 5rem;
}

mat-vertical-stepper {
  width: 80%;
  margin: 0 auto;
}

mat-card-header {
  padding-bottom: 3vh;
}

.ingredient {
  word-break: break-word;
  white-space: break-spaces;
  height: auto;
}
.price {
  color: darkgreen;
}
mat-action-row {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1vh;
}

@media (min-width: 420px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 900px) {


  mat-card {
    width: 95vw;
  }

}

@media (max-width: 420px) {
  mat-card {
    margin: 2vh auto;
  }
  mat-vertical-stepper {
    width: 100%;
    margin: 0 auto;
  }
  mat-card-title-group {
    align-items: center;
    justify-content: center;
  }
  mat-card-subtitle {
    left: 0;
  }
  mat-list-item {
    min-height: 4rem;
    height: auto !important;
  }
  .desktop{
    display: none;
  }
  mat-card-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  mat-card-title {
    text-align: center;

  }
  .title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    div {
      word-break: break-word;
    }
  }
}



