<h2 matDialogTitle>Задайте параметри бажаної страви</h2>
<mat-dialog-content>
  <p>Час приготування: {{defaultSearchOption.minMinutes}} - {{defaultSearchOption.maxMinutes}} хв</p>
  <mat-slider
    [min]="15"
    [max]="240"
    [step]="15"
  >
    <input matSliderStartThumb [(ngModel)]="defaultSearchOption.minMinutes">
    <input matSliderEndThumb [(ngModel)]="defaultSearchOption.maxMinutes">
  </mat-slider>

  <p>Вартість: {{defaultSearchOption.minPrice}} - {{defaultSearchOption.maxPrice}} грн</p>
  <mat-slider
    [min]="100"
    [max]="1000"
    [step]="100"
  >
    <input matSliderStartThumb [(ngModel)]="defaultSearchOption.minPrice">
    <input matSliderEndThumb [(ngModel)]="defaultSearchOption.maxPrice">
  </mat-slider>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="defaultSearchOption" cdkFocusInitial color="primary">Застосувати</button>
  </div>
</mat-dialog-content>
