<h2 matDialogTitle>Задайте параметри бажаної страви</h2>
<mat-dialog-content>
  <p>Час приготування: {{minMinutes}} - {{maxMinutes}} хв</p>
  <mat-slider
    [min]="0"
    [max]="240"
    [step]="5"
  >
    <input matSliderStartThumb [(ngModel)]="minMinutes">
    <input matSliderEndThumb [(ngModel)]="maxMinutes">
  </mat-slider>

  <p>Вартість: {{minPrice}} - {{maxPrice}} грн</p>
  <mat-slider
    [min]="50"
    [max]="1000"
    [step]="50"
  >
    <input matSliderStartThumb [(ngModel)]="minPrice">
    <input matSliderEndThumb [(ngModel)]="maxPrice">
  </mat-slider>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{maxMinutes, maxPrice, minPrice, minMinutes}" cdkFocusInitial color="primary">Застосувати</button>
  </div>
</mat-dialog-content>
